body {
	padding: 0px;
 	margin: 0px;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 20px 15px;
}

nav li {
	float: left;
	position: relative;
	left: 145%;		
	padding-top: 20px;
}

nav li:hover a{
	color: white;
	background-color: black;
}

#banner {
	margin-top: 19px;
	background-image: url("../images/background.jpg");
	height: 500px;
}

.logo {
	position: absolute;
	width: 5%;
	right: 50%;
	top: 30%;	
}

h1 {
	font-size: 300%;
	position: absolute;
	left: 35.5%;
	bottom: 50%;
	color: white;
}

h3 {
	position: absolute;
    font-size: 200%;
    color: white;
    left: 39%;
    bottom: 44%;
}

.main {
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

div.col-1 {
	left: 45%;
    position: absolute;
}

.perfil {
	margin-top: 45px;
	padding: 3px;
	border: 1px solid black;
	width: 130%;
}

.main p {
	
}